@font-face {
    font-family: 'poppins';
    src: url(poppins/poppins-Regular.ttf)
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
b;


ody {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: #f2f2f2;
    background-size: cover;
    background-position: center;
}
.wrapper {
    position: relative;
    width: 350px;
    height: 450px;
    background: transparent;
    border-radius: 20px solid rgba(255, 255, 255, 0.5);
}
.wrapper .login-box {
    position: absolute;
    background: transparent;
    border: 3px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    width: 370px
    height: 500px;
    margin 5px
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}